body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body::-webkit-scrollbar{
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.success-msg{
  width: 100%;
  padding: 14px;
  background-color: #dff0d8;
  color: #468847;
}

.error-msg{
  width: 100%;
  padding: 14px;
  background-color: #f0d0d3;
  color: #df786f;
}

.link{
  text-decoration: none;
}
